%table.table
  %thead
    %tr
      %th Purpose
      %th Provider
      %th Manager

  %tbody
    %tr
      %td Host
      %td Heroku
      %td Polar Notion

    %tr
      %td Transaction Emails
      %td Spark Post
      %td Polar Notion

    %tr
      %td Version Control
      %td Github
      %td Polar Notion

    %tr
      %td Web Analytics
      %td Google Analytics
      %td Polar Notion

    %tr
      %td DNS Provider
      %td Namecheap
      %td Polar Notion

    %tr
      %td Error Handling
      %td TBD
      %td Polar Notion

    %tr
      %td Credit Card Processor
      %td Stripe
      %td Private Account
