.container
  %h1 Welcome to Siderail
  %p Siderail is an open source project designed to increase the speed of starting new projects and increase the consistency with which apps are created.
  = link_to 'View on Github', 'https://github.com/PolarNotion/siderail', class: 'btn btn-primary'