@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "variables.scss";

* {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

#main {
  margin-top: 5rem;
  min-height: 90vh;
}

.container-sm {
  max-width: 20rem;
}

.container-md {
  max-width: 30rem;
}

.container-lg {
  max-width: 40rem;
}

.text-italic {
  font-style: italic;
}

.img-sm {
  max-width: 5rem;
}

.img-md {
  max-width: 10rem;
}

.img-lg {
  max-width: 15rem;
}

a:not(.btn) {
  cursor: pointer;
  color: $color_primary;
  text-decoration: none;
}

.btn.btn-primary,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: $color_primary;
  border-color: $color_primary;
  color: white;
  &:hover,
  &:active,
  &:focus {
    background-color: $color_primary_dark;
    border-color: $color_primary_dark;
  }
}

.activity-feed {
  .img-wrapper {
    margin-right: 1rem;
  }

  .media {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
}

/* For tablets: */
@media only screen and (min-width: 600px) {

}

/* For desktop: */
@media only screen and (min-width: 768px) {

}
