@import "https://fonts.googleapis.com/icon?family=Material+Icons";

#main {
  margin-top: 5rem;
}

.container-sm {
  max-width: 20rem;
}

.container-md {
  max-width: 30rem;
}

.container-lg {
  max-width: 40rem;
}
