$color_primary: #5e5eff;
$color_primary_dark: darken($color_primary, 10%);
$color_primary_light: lighten($color_primary, 10%);

$color_red: red;
$color_red_dark: darken($color_red, 10%);
$color_red_light: lighten($color_red, 10%);

$color_orange: orange;
$color_orange_dark: darken($color_orange, 10%);
$color_orange_light: lighten($color_orange, 10%);

$color_yellow: #ffc107;
$color_yellow_dark: darken($color_yellow, 10%);
$color_yellow_light: lighten($color_yellow, 10%);

$color_green:  #4fc151;
$color_green_dark: darken($color_green, 10%);
$color_green_light: lighten($color_green, 10%);

$color_blue: blue;
$color_blue_dark: darken($color_blue, 10%);
$color_blue_light: lighten($color_blue, 10%);

$color_purple: purple;
$color_purple_dark: darken($color_purple, 10%);
$color_purple_light: lighten($color_purple, 10%);
